@media(max-width:575px){

}
@media(min-width:576px) and (max-width:767px){
    
    .menu-bg ul li{
        padding: 20px 0;
        text-align: center;
        background-color: rgb(188, 204, 217);
        border-radius: 5px;
    }
    .menu-bg .one{
        text-align: center;
        background-color: rgb(188, 204, 217);
        border-radius: 5px;
    }
    .menu-bg button{
        border: 2px solid red;
        box-shadow: none;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 !important;
    }
    .menu-bg .navbar-toggler i{
        color: red;
    }
    .banner-text {
        text-align: center;
        padding-top: 175px;
        padding-bottom: 120px;
    }
    .banner-text h2 {
        font-size: 50px;
    }
    .banner-text h1 {
        font-size: 65px;
        padding-top: 10px;
    }
    .banner-text p {
        font-size: 14px;
        line-height: 21px;
        width: 500px;
        padding-top: 7px;
    }
    .banner-btn a {
        padding: 5px 5px;
        border-radius: 5px;
        font-size: 20px;
        font-size: 15px;
        margin-right: 14px;
    }
    .ban-sun {
        bottom: -55px;
    }
    /* about part */
    #about {
        margin-top: 105px;
    }
    .about-main {
        padding: 55px 0;
    }
    .about-text h2 {
        font-size: 30px;
    }
    .about-text p {
        font-size: 12px;
        line-height: 18px;
        width: 500px;
        margin-top: 10px;
    }
    .about-item h3 {
        font-size: 12px;
        line-height: 20px;
    }
    .about-item h4 {
        font-size: 18px;
        line-height: 10px;
    }
    /* about end */
    /* what i start */
    .what-about {
        padding: 80px 0;
    }
    .what-text h2 {
        font-size: 30px;
    }
    .what-text p {
        font-size: 15px;
        line-height: 25px;
        width: 500px;
        margin-top: 25px;
    }
    /* what i end */
    /* card part start */
    .what-item {
        padding: 18px 15px;
        padding-left: 25px;
    }
    .what-item h3 {
        font-size: 15px;
        margin-top: 10px;
    }
    .what-item p {
        font-size: 11px;
        line-height: 18px;
        width: 183px;
        margin-top: 7px;
    }
    /* card part end */
    /* summery part start */
    .summery-head h2 {
        font-size: 22px;
    }
    /* summery part end */
    /* summery data part */
    .sub-head h3 {
        font-size: 20px;
    }
    .sub-head .one {
        padding-top: 10px;
    }
    .sub-head .one h4 {
        font-size: 11px;
    }
    .sub-head .one h5 {
        font-size: 10px;
        margin-top: 8px;
    }
    .sub-head .one p {
        font-size: 9px;
        line-height: 15px;
        width: 220px;
        margin-top: 8px;
    }
    .sub-head {
        padding-top: 50px;
        padding-bottom: 5px;
    }
    /* summery data end */
    /* summery btn start */
    .summery-btn{
        text-align: center;
    }
    .summery-btn a {
        padding: 10px 8px;
        font-size: 10px;
        margin-right: 25px;
    }
    /* summery btn end */
    /* footer data start */
    .footer-data h2 {
        font-size: 20px;
        padding-top: 20px;
    }
    .footer-data p {
        font-size: 11px;
        line-height: 22px;
        width: 383px;
        padding-top: 0px;
    }
    .footer-data a {
        padding-right: 10px;
        padding-top: 1px;
    }
    .footer-data a i {
        width: 15px;
        height: 15px;
        font-size: 20px;
    }
    /* form part */
    .right-part input {
        width: 450px;
        height: 50px;
        line-height: 50px;
        margin-top: 15px;
        font-size: 12px;
    }
    .right-part textarea {
        width: 450px;
        height: 100px;
        margin-top: 15px;
        font-size: 13px;
    }
    .right-part button {
        padding: 10px 20px;
        font-size: 10px;
        margin-top: 15px;
    }

    
    /* footer data end */
}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:1200px) and (max-width:1399px){

}
@media(min-width:1400px){

}